/*  */

/* Gaya dasar untuk navbar */
.navbar {
    background-color: #15417a;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* Mengatur kontainer judul dan opsi */
.nav-title-container, .nav-option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Mengatur logo, judul, dan tim */
.nav-tim {
    flex: 1;
    color: white;
    text-align: right;
    align-self: flex-start;
    padding: 5px;
    justify-content: flex-start;
}
.nav-logo {
    flex: 1;
    text-align: left;
    align-self: flex-start;
    padding: 5px;
    justify-content: flex-start;
}

.nav-title {
    color: white;
    /* background-color: #abb2bc; */
    font-size: large;
    flex: 1;
    text-align: center;
    padding: 5px;
}

/* Mengatur total dan dropdown */
.nav-total {
    background-color: #15417a;
    flex: 1;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.nav-dropdown {
    /* background-color: rgb(149, 149, 175); */
    flex: 1;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.total-item {
    flex: 1;
    background-color: rgb(212, 209, 209);
    text-align: center;
    border: 1px solid #15417a;
    margin: 20px;
}

/* Media query untuk layar tablet */
@media (max-width: 768px) {
    .nav-title-container, .nav-option-container {
        flex-direction: column;
    }

    .nav-logo, .nav-title, .nav-tim, .nav-total, .nav-dropdown {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Media query untuk layar mobile */
@media (max-width: 480px) {
    .navbar {
        padding: 5px;
    }

    .nav-title h1 {
        font-size: 1.5em; /* Menyesuaikan ukuran font judul */
    }

    .dropdown-content {
        flex-direction: column;
    }

    .nav-total{
        flex-direction: column;
    }

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  padding: 10px;
  grid-template-columns: repeat(6, 1fr);
  background-color: rgb(212, 209, 209);
  height: 70vh;
}

.grid-item {
  color: black;
  border: 1px solid #15417a;
  text-align: center;
  background-color: rgb(217, 214, 214)
}


.col-6 {
    grid-column: auto / span 6;

}

.col-6 p {
    background-color: #15417a;
    margin-top: auto;
    color: white;
}

.col-3 {
    grid-column: auto / span 3;
}

.col-3 p {
    background-color: #15417a;
    margin-top: auto;
    color: white;
}

.col-2 {
    grid-column: auto / span 2;
}

.col-2 p {
    background-color: #15417a;
    margin-top: auto;
    color: white;
}

@media only screen and (max-width: 600px) {
    .col-s-6 {
        grid-column: auto / span 6;
    }
}


